        .contentWrap {
            height: 1300px;
            width: 1190px;
            margin: auto;
        }

        .navBar {
            background-color: #66CED3;
            height: 120px;
            width: 1190px;
            margin: 0px auto;
            display: flex;
        }

        .navBarLogoWrap {
            height: 120px;
            width: 260px;
        }

        .navBarLogo a {
            text-decoration: none;
            color: white;
            font-weight: 900;
            font-size: 55px;
        }

        .navBarLogo {
            margin: 23.18px 23.65px 23.18px 23.65px;
        }

        .navBarMenuWrap {
            height: 120px;
            width: 960px;
            display: flex;
            align-items: center;
            text-align: center;
        }

        .navBarMenu {
            display: flex;
            margin: auto;
        }

        .navBarMenu a {
            text-decoration: none;
            color: white;
            font-weight: 700;
            font-size: 24px;
        }

        .pictures, .ranking, .pictureRegist, .myPictures, .favorite {
            margin: 30px 55px 0 55px;
        }

        .picturesCategory {
            height: 60px;
            display: flex;
            margin: 20px 5px 0 5px;
        }

        .picturesCategoryBtnWrap {
            width: 893.04px;
        }

        .btn btn-outline-info a {
            margin: 30px 55px 0 55px;
        }

        .pictureCardsWrap {
            height: 980px;
            width: 1190px;
        }

        .pictureCards {
            height: 980px;
            width: 1190px;
        }

        .pictureCard {
            height: 238px;
            width: 238px;
            background-color: #BEC2C2;
            display: inline-block;
            margin-right: -4px;
            margin-bottom: -4px;
        }

        .pageNavigation {
            margin: 0 0 0 455px;
        }