* {
    font-family: 'Nanum Gothic', sans-serif;
}

wrap {
    min-width: 1330px;
}

/* Navbar */
.navBar {
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.navBarContent {
    height: 70px;
    width: 1330px;
    margin: auto;
    display: flex;
}

.navBarLogo {
    height: 70px;
    width: 162px;
    padding-top: 18px;
    display: inline-block;
}

.navContent {
    width: 1000px;
    height: 70px;
    display: flex;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 20px;
    text-align: center;
}

.showPicture, .ranking, .pictureRegist, .myPicture, .favorite {
    display: inline-block;
    margin: auto;
}

.showPicture > a:link, .ranking > a:link, .pictureRegist > a:link, .myPicture > a:link, .favorite > a:link {
    color: #414141;
    text-decoration: none;
}

.showPicture > a:visited, .ranking > a:visited, .pictureRegist > a:visited, .myPicture > a:visited, .favorite > a:visited {
    color: #414141;
    text-decoration: none;
}

.showPicture > a:hover, .ranking > a:hover, .pictureRegist > a:hover, .myPicture > a:hover, .favorite > a:hover {
    color: #414141;
    border: rgba(28, 175, 244, 0.8) solid;
    border-width: 0 0 12px 0;

}

.helloUser {
    width: 200px;
    padding: 18px 10px 10px 0;
    text-align: right;
    font-size: 14px;
}

.logOutBtn {
    padding-top: 23px;
}

.btn {
    color: #1CAFF4 !important;
    border-color: #1CAFF4 !important;
}

.btn:hover {
    color: #ffffff !important;
    background-color: #1CAFF4;
!important;
}

/* searchBar */

.searchBar {
    height: 50px;
    background-color: #f4f4f4;
    position: sticky;
    top: 70px;
    z-index: 3;
}

.searchBarContent {
    height: 50px;
    width: 1330px;
    margin: auto;
    display: flex;
    background-color: #f4f4f4;
}

.category {
    display: inline-block;
    width: 998px;
    padding-top: 5px;
}

.search {
    width: 400px;
    display: flex;
    padding-top: 5px;
    text-align: right;
}


.custom-select {
    height: 40px;
}

.form-control {
    height: 40px;
    width: 200px;
    margin-left: 10px;
}

#btnSearch {
    height: 40px;
}

/* Middle section */

.middleSectionWrap {
    height: 60px;
    background-color: #f4f4f4;
}

.middleSection {
    height: 50px;
    width: 1330px;
    margin: auto;
    background-color: #f4f4f4;
    font-size: 18px;
    padding: 15px 0 0 10px;
    display: flex;
}

.middleSection > i {
    color: #1CAFF4;
}

.pictureCount {
    padding: 2px 0 0 10px;
}

/* PictureCards section */

.pictureCardSectionWrap {
    top: 170px;
    background-color: #f4f4f4;
}

.pictureCardSection {
    width: 1330px;
    margin: auto;

}


.pictureCard {
    height: 254px;
    width: 254px;
    display: inline-block;
    margin: 0 4px 12px 4px;
}

.cardImage {
    height: 254px;
    width: 254px;
}


/* 그림 마우스 Hover */
a:hover .hoveruserNickname {
    top: 62%;
}

a:hover .hoverLike {
    top: 80%;
}

a:hover .hoverTitle {
    bottom: 52%;
}

.screen {
    height: 254px;
    width: 254px;
    position: relative;
    overflow: hidden;
    margin: 0 4px 12px 0;

}

.hoverTitle {
    position: absolute;
    bottom: 150%;
    left: 15px;
    z-index: 2;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: all .60s;
}

.hoverLike {
    position: absolute;
    top: 150%;
    left: 15px;
    z-index: 2;
    color: azure;
    font-size: 12px;
    transition: all .60s;
}

.hoveruserNickname {
    position: absolute;
    top: 150%;
    left: 15px;
    z-index: 2;
    color: azure;
    font-size: 12px;
    transition: all .60s;

}

.screen::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    height: 256px;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

a:hover .screen::after {
    opacity: 0.9;
}