<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>illustre - 일러스트리</title>

    <link href="{{ url_for('static', filename='gallery.css') }}" rel="stylesheet" id="login-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script>
        // 로그아웃해서 세션 버리는 함수
        function onClickLogOut() {
            $.ajax({
                url: '/logout',
                method: 'POST',
                data: {},
                success: function (response) {
                    $(location).attr('href', '/');
                }
            })
        }

        // Nav Bar 로고 , 작품보기
        function onClickMain() {
            $(location).attr('href', '/');
        }

        // Nav Bar 랭킹
        function onClickRanking() {
            $(location).attr('href', '/rank');
        }

        // Nav Bar 작품등록
        function onClickPictureRegist() {
            $(location).attr('href', '/pictureregist');
        }

        // Nav Bar 나의자품
        function onClickMypicture() {
            $(location).attr('href', '/mypicture');
        }

        // Nav Bar 갤러리
        function onClickGallery() {
            $(location).attr('href', '/gallery');
        }


        // 페이지 로딩되면 그림 불러옴
        $(window).on('load', function () {
            getPictures();
        })

        // 카드 만들어서 붙이는 함수
        function makePictureCards(imgURL, title, nickname, likeCount, picturenumber) {
            let temp_Html = `
                            <a class="pictureCard" href="/picturedetail/${picturenumber}">
                                <div class="screen">
                                    <div class="hoverTitle">${title}</div>
                                    <div class="hoveruserNickname">${nickname}</div>
                                    <div class="hoverLike">
                                        <i class="fas fa-heart">&nbsp ${likeCount}</i>
                                    </div>
                                    <img id="pictureCard" class="cardImage" src="${imgURL}">
                                </div>
                            </a>
                            `
            $('#pictureCardSection').append(temp_Html);
        }

        function getPictures() {
            $('#pictureCardSection').empty();

            // 1. 그림데이터를 서버에 요청
            $.ajax({
                type: "GET",
                url: "/getgallery",
                data: {},
                success: function (response) {
                    // 2. 요청 성공 여부 확인
                    //console.log(response)

                    if (response["result"] == "success") {
                        let gallery = response["gallery"];
                        //console.log(gallery)
                        // 3. 요청 성공했을 때 이미지를 올바르게 화면에 나타내기

                        for (let i = 0; i < gallery.length; i++) {
                            let imgURL = gallery[0]["imgURL"];
                            let title = gallery[0]["title"];
                            let nickname = gallery[0]["nickname"];
                            let likeCount = gallery[0]["likeCount"];
                            let picturenumber = gallery[0]["picturenumber"];
                            // console.log(imgURL, title, nickname, likeCount, picturenumber)
                            makePictureCards(imgURL, title, nickname, likeCount, picturenumber);
                        }
                    } else {
                        alert("이미지를 불러오지 못했습니다");
                    }
                }
            })

        }


    </script>
</head>
<body>
<div class="wrap">
    <nav class="navBar">
        <div class="navBarContent">
            <a href="#" onclick="onClickMain()" class="navBarLogo">
                <img src="../static/illustre_logo.png" alt="illustre">
            </a>
            <div class="navContent">
                <div class="showPicture">
                    <a href="#" onclick="onClickMain()">&nbsp&nbsp&nbsp&nbsp 작품보기 &nbsp&nbsp&nbsp&nbsp</a>
                </div>
                <div class="ranking">
                    <a href="#" onclick="onClickRanking()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 랭킹 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                </div>
                <div class="pictureRegist">
                    <a href="#" onclick="onClickPictureRegist()">&nbsp&nbsp&nbsp&nbsp 작품등록 &nbsp&nbsp&nbsp&nbsp</a>
                </div>
                <div class="myPicture">
                    <a href="#" onclick="onClickMypicture()">&nbsp&nbsp&nbsp&nbsp 나의작품 &nbsp&nbsp&nbsp&nbsp</a>
                </div>
                <div class="favorite">
                    <a href="#" onclick="onClickGallery()">&nbsp&nbsp&nbsp&nbsp 갤러리 &nbsp&nbsp&nbsp&nbsp</a>
                </div>
            </div>
            <div class="helloUser">
                <div class="hello">안녕하세요</div>
                <div class="user">{{ nickname }}님!</div>
            </div>
            <div class="logOutBtn">
                <button type="button" onclick="onClickLogOut()" class="btn btn-outline-primary btn-sm">로그아웃</button>
            </div>
        </div>
    </nav>



    <div class="middleSectionWrap">
        <div class="middleSection">
            <i class="fas fa-palette fa-2x"></i>
            <div class="pictureCount">{{ nickname }} 님의 갤러리</div>
        </div>
    </div>

    <div class="pictureCardSectionWrap">
        <div class="pictureCardSection" id="pictureCardSection">
        </div>
    </div>
</div>
</body>
</html>