<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>illustre - 일러스트리</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <link href="{{url_for('static', filename='signUp.css')}}" rel="stylesheet" id="login-css">

    <script>
        // 로고 클릭시 메인페이지
        function onClickMain(){
            $(location).attr('href', '/');
        }

        /*

        // 회원가입 검사
        function onClickSignUp() {
            //입력한 값들을 가져옵니다
            let userID = $("#userID").val();
            let password = $("#password").val();
            let nickname = $("#nickname").val();

            if (userID == "") {
                alert("아이디를 입력해주세요");
                $("#userID").focus();
                return
            } else if (password == "") {
                alert("비밀번호를 입력해주세요");
                $("#password").focus();
                return
            } else if (nickname == "") {
                alert("닉네임을 입력해주세요");
                $("#nickname").focus();
                return
            } else if (userID.length < 4) {
                alert("아이디를 4글자 이상 입력해주세요");
                $("#userID").focus();
                return
            } else if (password.length < 4) {
                alert("비밀번호를 4글자 이상 입력해주세요");
                $("#password").focus();
                return
            } else if (nickname.length > 8) {
                alert("닉네임을 8글자 이하로 입력해주세요");
                $("#nickname").focus();
                return
            }

            $.ajax({
                type: "POST",
                url: "/signup",
                data: {
                    userID_give: userID,
                    password_give: password,
                    nickname_give: nickname
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.href = "/login"
                    }
                }
            })
        }

        */




    </script>
</head>
<body>

<!------ Include the above in your HEAD tag ---------->

<a href="#" onclick="onClickMain()" id="navLogo">
    <img src="../static/illustre_logo_white.png" alt="illustre">
</a>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../static/illustre_logo.png" id="icon" alt="illustre"/>
        </div>
        <div class="fadeIn second">
            <div id="comment">내가 그려가는 세상</div>
        </div>

        <!-- Login Form -->
        <form action="/signup" method="POST">
            <input type="text" id="userID" class="fadeIn third" name="userID" placeholder="ID">
            <input type="text" id="password" class="fadeIn fourth" name="password" placeholder="Password">
            <input type="text" id="nickname" class="fadeIn fifth" name="nickname" placeholder="Nickname">
            <input type="submit" id="signUp" onclick="onClickSignUp()" class="fadeIn sixth" value="회원 가입">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
</div>
</body>
</html>